body.splash, .logo-splash, .login-form {
  transition: all .5s ease;
}

.splash .container {
  position: relative;
  height: 100vh;
}

.logo-splash {
  margin: 0 auto 60px;
  display: block;
	margin-top: 197px;
}

#logo path {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 12.8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.logo-light path {
  stroke: #ff3d00!important;
}

.login-wrapper {
  position: absolute;
  width: 260px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.login-form {
	/* transform: scaleY(0); */
	opacity: 0;
}

.login-form p {
  text-align: center;
	margin-bottom: 30px;
}

.btn, .btn-large {
    background-color: #2962FF;
}

.btn:hover, .btn-large:hover {
    background-color: #2962FF;
}

.btn-center {
    margin: auto;
    display: block;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: #2979FF;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #2962FF;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2962FF;
  -webkit-box-shadow: 0 1px 0 0 #2962FF;
  box-shadow: 0 1px 0 0 #2962FF;
}
